<div id="aboutPhotoDiv" class="flexContainerEnd">
  <div id="aboutMeDiv" data-aos="slide-right" class="flexContainerCol">
    <h1>{{ "aboutMe" | translate }}</h1>
    <p>
      {{ "hi" | translate }}
    </p>
    <div class="flexContainerStart">
      <img src="/assets/img/location.svg" alt="location" />
      <p>
        {{ "location" | translate }}
      </p>
    </div>
    <div class="flexContainerStart">
      <img src="/assets/img/idea.svg" alt="idea" />
      <p>
        {{ "idea" | translate }}
      </p>
    </div>
    <div class="flexContainerStart">
      <img src="/assets/img/puzzle.svg" alt="puzzle" />
      <p>
        {{ "puzzle" | translate }}
      </p>
    </div>
  </div>
  <div id="photoDiv" data-aos="slide-left">
    <img src="/assets/img/me2.png" alt="me" />
  </div>
  <div id="horizontalLine" data-aos="slide-left">
    <hr />
  </div>
</div>
