<div id="mySkillsIconsDiv" class="flexContainerEnd">
  <div id="skillsIconsDiv" class="flexContainerStart" data-aos="slide-right">
    <div class="skillIconDiv flexContainerColStart">
      <img src="/assets/img/html.svg" alt="icon" />
      <h4>HTML</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/css.svg" alt="icon" />
      <h4>CSS</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/javascript.svg" alt="icon" />
      <h4>JavaScript</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/typescript.svg" alt="icon" />
      <h4>TypeScript</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/angular.svg" alt="icon" />
      <h4>Angular</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/firebase.svg" alt="icon" />
      <h4>Firebase</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/git.svg" alt="icon" />
      <h4>GIT</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/api.svg" alt="icon" />
      <h4>Rest-Api</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/scrum.svg" alt="icon" />
      <h4>Scrum</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/material-design.svg" alt="icon" />
      <h4>Material Design</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/wordpress.svg" alt="icon" />
      <h4>WordPress</h4>
    </div>
    <div class="skillIconDiv flexContainerCol">
      <img src="/assets/img/continually-learning.svg" alt="icon" />
      <h4 id="continually">Continually Learning</h4>
    </div>
  </div>
  <div id="mySkillsDiv" class="flexContainerCol" data-aos="slide-left">
    <div class="flexContainerEnd">
      <h1 class="h1HeaderTitle">Skills</h1>
      <hr />
    </div>
    <p>
      {{ "experience" | translate }}
    </p>
    <h3>
      {{ "looking" | translate }} <span>{{ "looking2" | translate }}</span>
    </h3>
    <p>
      {{ "contactMe" | translate }}
    </p>
  </div>
</div>
