<div id="privacyPolicyDiv">
  <div id="innerprivacyPolicyDiv">
    <a href="/"
      ><img id="xCloseIcon" src="/assets/img/x-menu.svg" alt="icon"
    /></a>
    <h1>{{ "legNotice" | translate }}</h1>
    <p>{{ "germanLaw" | translate }}</p>
    <br />
    <p>Fabion Latifi</p>
    <p>Villingen-Schwenningen</p>
    <br />
    <h2>{{ "contact" | translate }}</h2>
    <p>E-Mail: fabioltf&#64;gmail.com</p>
    <br />
    <h2>{{ "infoWeCollect.title" | translate }}</h2>
    <p>{{ "infoWeCollect.content" | translate }}</p>
    <br />
    <h2>{{ "useOfInfo.title" | translate }}</h2>
    <p>{{ "useOfInfo.content" | translate }}</p>
    <br />
    <h2>{{ "cookies.title" | translate }}</h2>
    <p>{{ "cookies.content" | translate }}</p>
    <br />
    <h2>{{ "noUserRegistration.title" | translate }}</h2>
    <p>{{ "noUserRegistration.content" | translate }}</p>
    <br />
    <h2>{{ "dataSecurity.title" | translate }}</h2>
    <p>{{ "dataSecurity.content" | translate }}</p>
    <br />
    <h2>{{ "thirdPartyLinks.title" | translate }}</h2>
    <p>{{ "thirdPartyLinks.content" | translate }}</p>
    <br />
    <h2>{{ "changesToPolicy.title" | translate }}</h2>
    <p>{{ "changesToPolicy.content" | translate }}</p>
    <br />
    <h2>{{ "contactUs.title" | translate }}</h2>
    <p>{{ "contactUs.content" | translate }}</p>
  </div>
</div>
